<div class="app-header">
  <div class="app-logo">
      <img src="https://aws-amplify.github.io/images/Logos/Amplify-Logo-White.svg" alt="AWS Amplify" />
  </div>
  <h1>Welcome to the Amplify Framework</h1>
</div>
<div class="app-body">
  <amplify-authenticator>
    <div class="welcome">
      <h1 *ngIf="user">Hey, {{user.username}}!</h1>
      <amplify-sign-out></amplify-sign-out>
    </div>
  </amplify-authenticator>
  <div *ngIf="user">
    <div>
      <div class="form-body">
        <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
          <div class="input" [ngClass]="{'offline': offline}">
            <input class="message-input" type="text" formControlName="message" autocomplete="off" placeholder="Enter your message...">
          </div>
          <button type="submit">Send</button>
          <button type="button" (click)="onDeleteAll()">Delete All</button>
        </form>
      </div>
    </div>
    <span *ngIf="loading">Loading...</span>
    <div class="chatty-container" [ngClass]="{'offline': offline}">
      <div class="offline-msg" *ngIf="offline">You are offline. Your messages will be shared once you are connected.</div>
      <div class="chatty">
        <div *ngFor="let message of messages">
          <div [ngClass]="(this.user.username === message.user)? 'me' : 'others'">
            <div class="message-container">
              <div class="message-user">{{ message.user }} <span class="message-time" title="{{ moment(message.createdAt).format('YYYY-MM-DD HH:mm:ss') }}">{{ moment(message.createdAt).format('HH:mm:ss')}}</span></div>
              <div class="message-text">{{ message.message }}</div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>